@import "base";

/* Actual documentation styling */
div.table table {
  text-align: left; /* Disable justification */
  border: 1px solid black;
  border-collapse: collapse;
}

/* Give alternating row colors */
div.table tr:nth-child(odd) {
  background-color: #eee;
}

div.table tr:nth-child(even) {
  background-color: white;
}

div.table th {
  background-color: white;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;
}

div.table td {
  text-align: left;
  padding: 4px;
}


// alert copied from bootstrap 4

$theme-colors: (note: #27ae60, tip: #3daee9, important: #f67400, warning: #da4453);

@each $color, $value in $theme-colors {
  div.#{$color} {
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    // Headings for larger alerts
    .title {
      // Specified to prevent conflicts of changing $headings-color
      color: inherit;
    }
    a {
      font-weight: $alert-link-font-weight;
    }
  }
}

/* Make the content wrapping div have a nice margin. */
body div.chapter, body div.sect1, body div.book, body div.article {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.sect2 {
  width: 100%;
}

.programlisting {

  /* This will work someday */
  border-radius: 7px;

  /* To support border radius on our OSS browser friends when
   * viewing online */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.programlisting {
  border: 1px solid black;
  background: white;
}


.guimenu, .guimenuitem, .guisubmenu,
.guilabel, .interface, .guibutton {
  background-color: rgb(220, 220, 220);
  color: black;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
}

.shortcut {
  background-color: #DDF;
  border: 1px dotted #BBF;
  font-weight: normal;
  border-radius: 2px;
}

.keycap, .keysym {
  background-color: #DFDFFF;
  font-weight: bold;
  border-radius: 2px;
}

.informalexample {
  margin: 0;
  border: 0;
  border-left: 1px dotted black;
  padding: 0 0 0 4px;
}

div.tip {
  margin-bottom: 12pt;
}

div.titlepage {
  margin-left: 0;
}

h3.title {
  margin-left: 0;
}

.screenshot, .informalfigure {
  border: 1px solid gray;
  background-color: rgb(240, 240, 240);
}

/* We no longer render <hr>s around <mediaobject>s, but this hides them in case
 * old generated HTML is displayed with the new style.
 */
.mediaobject hr, .mediaobjectco hr {
  display: none;
}

/* Used for the text and footer area at the bottom. */
#footer {
  width: 100%;
}

/*
    KDE-wide default CSS for HTML documentation (all media types).
    Copyright (C) 2000 Frederik Fouvry

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

    Send comments, suggestions, etc. to Frederik Fouvry
    <fouvry@sfs.nphil.uni-tuebingen.de>. */

/*
   Important note: these setting may be overridden by localised CSS.  Do not
   add here any localization-sensitive style declarations.

   Any updates should be validated, e.g. http://jigsaw.w3.org/css-validator/ */

/* Note: "should be inherit" means that in a proper browser inherit should work.
   Somehow Netscape manages to interpret "inherit" as bright green.
   Yuck.  */

.legalnotice, .copyright {
  padding: 0;
  margin: 0;
}

.abstract {
  font-weight: bolder;
  padding-right: 1em;
}

.toc, .list-of-tables {
  padding-left: 1em;
}

.sect1, .chapter, .synopsis, .appendix, .preface, .article, .refsect1, .index, .glossary, .glossdiv, .gloss-article, .section {
  padding-left: 1em;
}

.gloss-article, .glossdiv {
  padding-right: 1em;
}

.toc .chapter {
  padding: 0 0 0 1em;
}

.author {
  color: rgb(82, 80, 82);
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.othercredit {
  line-height: 1em;
}

.chapter .sect1, .chapter .titlepage, .sect1 .titlepage, .article .titlepage {
  padding: 0em;
}

.titlepage {
  padding-left: 1em;
  padding-right: 1em;
}

/* Links in Navigation */

.navLeft a:link, .navCenter a:link, .navRight a:link, .bottom-nav a:link, .bottom-nav a:visited {
  color: #41597A;
  font-weight: bold;
}


/* Nice link colors for the main text */

:link {
  color: #41597A;
}

:visited {
  color: #597ba8;
}

.navLeft {
  position: absolute;
  left: 20px;
}

.navRight {
  position: absolute;
  right: 20px;
}

.navCenter {
  text-align: center;
  align: center;
}

.bannerBottomLeft {
  position: absolute;
  left: 0px;
}

.bannerBottomRight {
  position: absolute;
  right: 0px;
}

/* A little bit of padding makes the tables for keybindings etc much easier to read */

table {
  padding: 5px;
}

dl {
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

dd {
  margin-left: 1.5em;
}

dt {
  margin-top: 1em;
}

div.toc dt {
  margin-top: 0px;
}

div.screenshot {
  margin-bottom: 1em;
  margin-top: 1em;
}

div.informalexample {
  border-style: dotted;
  padding: 10px;
}

/* But no padding for navigation elements */

.toplogo, .navbackground {
  padding: 0px;
}

table.programlisting
table.screen {
  border-style: none;
  background-color: rgb(224, 224, 224);
  table-layout: auto; /* 100%? */
  color: rgb(0, 0, 0); /* should be inherit */
}

/* Same as previous block, but more general (previous is HTML only)
   Not all browsers understand this yet.
   TABLE[class~=programlisting]
   TABLE[class~=screen] { border-style: none;
          background-color: rgb(224,224,224);
          table-layout: auto;
          color: inherit;
}
*/

p {
  text-align: justify;
}

/* More specific settings */
p, h1, h2, h3, h4, h5, h6, td, th {
  font-family: "Noto Sans", sans-serif;
}

/* Visual cues for GUI elements etc in the text */

.guimenu, .guimenuitem, .guisubmenu {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0); /* should be inherit */
}

.guilabel, .interface, .guibutton, .guiicon {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0); /* should be inherit */
}

.shortcut {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0); /* should be inherit */
}

.shortcut .keycap {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0); /* should be inherit */
}

.question {
  font-weight: bolder;
}

.accel {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.option, .command {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 96, 160);
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(82, 80, 82);
  background-color: transparent;
}

.arg, .parameter, .replaceable {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 128, 64);
  font-style: italic;
}

.screen, .programlisting {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0); /* should be inherit */
  border-style: dotted;
  border-color: rgb(0, 0, 0);
  border-width: thin;
  padding: 5px;
}


/* This one is set in inches because the admonitions are set in inches
   and they're more difficult to change.  We can live with it in here,
   for the meantime, it gives consistent margins */

.example {
  margin-left: 0.5in;
  margin-right: 0.5in;
}

div.mediaobject, div.mediaobjectco {
  /* float: right; */
  /* might make it much nicer. although someone has to
     understand the rules ;-)  You also don't want it to be
     surrounded by text it doesn't refer to ...  But that
     may be among others a question of writing style. */
  text-align: center;
  /* a bit of a hack: it should
                          position _images_ */

  img {
    max-width: 100%;
  }
}

.caption {
  margin: 0em 2em 0em 2em;
  text-align: center;
}

.inlinemediaobject {
  vertical-align: baseline;
}


/* An idea that could be nice: a search engine looking for specific
classes could display them in some conspicuous color.  All that is
needed is an on the fly generated style element/style sheet. */

/* Only used in the hand-made HTML license texts */
body.license {
  background-color: rgb(255, 255, 255);
  text-align: justify;
  color: rgb(0, 0, 0);
}

pre.license {
  background-color: rgb(255, 255, 255);
  font-family: "Noto Sans", monospace;
  color: rgb(0, 0, 0);
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.contentBody {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.figure-float {
    margin-right: 1em;
}

.listitem p {
  margin-bottom: 0;
}
