{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
<div>
    <a class="nav-item nav-link "
       href="https://www.kde.org/documentation">{% trans %}Help{% endtrans %}</a>
    <a class="nav-item nav-link "
       href="https://www.kde.org/contact/">{% trans %}Contact Us{% endtrans %}</a>
    <a class="nav-item nav-link"
       href="https://www.kde.org/donate">{% trans %}Donate{% endtrans %}</a>
    <div class="nav-item">
        <div class="container container-sm">
            {{ render(controller(
                'App\\Controller\\MainController::languageListDropdown'
            )) }}
        </div>
    </div>
</div>
{% endblock %}
