{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
    {% if search_result is defined %}
        {% for module, moduleContent in search_result %}
            {% for category, submodules in moduleContent %}
                <h2>{{ category|trans({}, 'modules') }}</h2>
                {% if submodules.branch is defined %}
                    <ul>
                        {% for branch in submodules.branch %}
                            <li>
                                <a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/index.html">{{ branch_descriptions[branch] }}</a>
                                (<a
                                        href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ category }}.pdf">pdf</a>)
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="row">
                    {% for submodule,branchs in submodules %}
                        {% if loop.index0 % 2 == 0 and loop.index0 != 0 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        <div class="col-sm">
                            {{ submodule|trans({},'modules') }}
                            <ul>
                                {% for branch in branchs.branch %}
                                    <li>
                                        <a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ submodule }}/index.html">{{ branch_descriptions[branch] }}</a>
                                        (<a
                                                href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ submodule }}/{{ submodule }}.pdf">pdf</a>)

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        TODO ADD TEXT
    {% endif %}
{% endblock %}
